

/* Variables *********************************/

$width-maximum: 940px;
$width-medium: 500px;
$width-small: 350px;

$black: #000;
$red: #EB2D09;
$grey-dark: #999;
$grey-medium: #CCC;
$grey-light: #EEE;

$border-radius: 3px;


/* Mixins ************************************/

@mixin no-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin border-radius {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin border-radius-right-half {
    -webkit-border-radius: 0;
    -webkit-border-top-right-radius: $border-radius;
    -webkit-border-bottom-right-radius: $border-radius;
    -moz-border-radius: 0;
    -moz-border-radius-topright: $border-radius;
    -moz-border-radius-bottomright: $border-radius;
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin link($color, $hover-color) {
    color: $color;
    text-decoration: none;

    &:hover, &:focus {
        color: $hover-color;
        text-decoration: underline;
    }
}


/* Base **************************************/

html, button, input, select, textarea {
    // The nicest Helvetica... http://css-tricks.com/snippets/css/better-helvetica/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body {
    width: 98%;
    margin: 0 auto;

    @media (min-width: $width-maximum + 20px) {
        & {
            width: $width-maximum;
        }
    }
}

h1, h2, h3, h4, h5, h6, .claim {
    font-family: 'Domine', serif;

    a {
        text-decoration: none;
    }
}

a {
    @include link($grey-dark, $red);
}

h3 small {
    font-weight: normal;
}


/* Header ************************************/

header {
    margin: 1em 0 2em 0;

    h1 {
        color: $red;
    }

    h1, .claim {
        display: inline;
        font-size: 1.2em;
    }

    a {
        color: $red;
        text-decoration: none;
    }

    .claim {
        color: $grey-dark;
        margin-left: 0.2em;

        @media (max-width: $width-medium) {
            & {
                font-size: 1em;
            }
        }

        @media (max-width: $width-small) {
            & {
                display: block;
                margin: 0.3em 0;
                font-size: 1em;
            }
        }
    }
}


/* Footer ************************************/

.footer {
    color: #000;
    margin: 0;
    padding: 0;
    margin: 3em 0;
    text-align: right;

    li {
        height: 20px;
        display: inline-block;
        margin: 0 0 0 1em;
        padding: 0;
        overflow: hidden;
    }

    .contact {
        line-height: 18px;

        a {
            font-size: 0.8em;
        }
    }
}


/* Showtimes *********************************/

.showtimes {
    h2 {
        margin-bottom: 0.3em;
        border-bottom: 1px solid $grey-medium;
    }

    table {
        width: 100%;
        margin-bottom: 1.5em;
    }

    th, td {
        padding: 0.5em 0;
    }

    th {
        font-weight: normal;
        text-align: left;
        width: 50%;

        a {
            @include link($black, $red);
        }
    }

    td {
        padding-left: 1em;
        color: $grey-dark;
    }

    tr:last-child {
        th, td {
            border-bottom: none;
        }
    }
}
