

/* Variables *********************************/

$width-maximum: 940px;
$width-medium: 500px;
$width-small: 350px;

$black: #000;
$red: #EB2D09;
$grey-dark: #888;
$grey-medium: #CCC;
$grey-light: #EEE;

$border-radius: 3px;


/* Mixins ************************************/

// @mixin no-select {
//     -moz-user-select: -moz-none;
//     -khtml-user-select: none;
//     -webkit-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// @mixin border-radius {
//     -webkit-border-radius: $border-radius;
//     -moz-border-radius: $border-radius;
//     border-radius: $border-radius;
// }

// @mixin border-radius-right-half {
//     -webkit-border-radius: 0;
//     -webkit-border-top-right-radius: $border-radius;
//     -webkit-border-bottom-right-radius: $border-radius;
//     -moz-border-radius: 0;
//     -moz-border-radius-topright: $border-radius;
//     -moz-border-radius-bottomright: $border-radius;
//     border-radius: 0;
//     border-top-right-radius: $border-radius;
//     border-bottom-right-radius: $border-radius;
// }

@mixin link($color, $hover-color) {
    color: $color;
    text-decoration: none;

    &:hover, &:focus {
        color: $hover-color;
        text-decoration: underline;
    }
}


/* Base **************************************/

h1, h2, h3, h4, h5, h6, .claim {
    font-family: 'Domine', serif;

    a {
        text-decoration: none;
    }
}

a {
    @include link($grey-dark, $red);
}


/* Header ************************************/

body {
    padding-top: 60px;
}

.navbar-header h1 {
    display: inline;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-brand {
    color: $red;
    padding-right: 3px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: $red;
    text-decoration: underline;
}

.navbar-default .claim {
    color: $grey-dark;
    margin-left: 3px;
}


/* Footer ************************************/

// .footer {
//     color: #000;
//     margin: 0;
//     padding: 0;
//     margin: 3em 0;
//     text-align: right;

//     li {
//         height: 20px;
//         display: inline-block;
//         margin: 0 0 0 1em;
//         padding: 0;
//         overflow: hidden;
//     }

//     .contact {
//         line-height: 18px;

//         a {
//             font-size: 0.8em;
//         }
//     }
// }


/* Showtimes *********************************/

#more:before {
    // trick http://css-tricks.com/hash-tag-links-padding/
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
}

.page-wide-text {
    text-align: center;
}

a.thumbnail {
    position: relative;
    text-decoration: none;

    .caption {
        text-align: center;

        h3 {
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
}

.films {
    .poster {
        width: 100%;
    }

    a.thumbnail {
        .caption {
            width: 98%;
            min-height: 25%;
            position: absolute; bottom: 0;
            background: rgba(255, 255, 255, 0.85);

            h3 {
                font-weight: bold;

                small {
                    font-size: 90%;
                    display: block;
                    color: $grey-dark;
                    margin-top: 0.3em;
                }
            }
        }
    }
}
