cython==0.17.4                                                         # Just to be able to compile gevent from tarball
https://github.com/surfly/gevent/tarball/1.0rc2#egg=gevent             # Parallelism
uwsgi==1.9.8                                                           # Web server
flask==0.9                                                             # Web framework
jinja2==2.7                                                            # Templates
mongoengine==0.8.1                                                     # MongoDB
lxml==3.2.1                                                            # Fastest XML/HTML parser, scraping
requests==1.0.3                                                        # HTTP requests
times==0.4                                                             # From/to UTC datetime conversion
unidecode==0.04.9                                                      # Unicode strings to ASCII
fuzzywuzzy>=0.1                                                        # Fuzzy string comparation
flask-assets==0.8                                                      # Managing assets
cssmin==0.1.4                                                          # CSS minifier
flask-script==0.5.3                                                    # Command line scripts
cssselect==0.8                                                         # CSS selects for lxml
icalendar==3.5                                                         # iCalendar format reader
