cython==0.17.4                                                         # Just to be able to compile gevent from tarball
https://github.com/surfly/gevent/tarball/1.0rc2#egg=gevent             # Parallelism
uwsgi==1.9.8                                                           # Web server
flask==0.9                                                             # Web framework
mongoengine==0.8.1                                                     # MongoDB
lxml==3.0.2                                                            # Fastest XML/HTML parser, scraping
requests==1.0.3                                                        # HTTP requests
times==0.4                                                             # From/to UTC datetime conversion
unidecode==0.04.9                                                      # Unicode strings to ASCII
flask-gzip==0.1                                                        # Gzipped responses
fuzzywuzzy>=0.1                                                        # Fuzzy string comparation
