

@import "custom-bootstrap.less";


@dark-grey: #777;
@light-grey: #EEE;


/* Base **************************************/

h1, h2, h3, h4, h5, h6, .claim {
    font-family: 'Domine', serif;
    a {
        text-decoration: none;
    }
}

i { // icons
    text-align: center;
    vertical-align: middle;
}

[title] {
    cursor: help;
}


/* Header ************************************/

body {
    padding-top: (@line-height-computed * 3);

    #index & {
        padding-top: 0;  // first .page-header's margin does the job anyway
    }
}

.anchor {
    &:before {
        /*
            Trick for anchoring not overlapping with fixed header.
            http://css-tricks.com/hash-tag-links-padding/
        */
        @anchor-padding: (@line-height-computed * 5);

        display: block;
        content: " ";
        margin-top: -1 * @anchor-padding;
        height: @anchor-padding;
        visibility: hidden;
    }
}

.navbar-default {
    .navbar-header h1 {
        display: inline;
        font-size: inherit;
        margin: 0;
        padding: 0;
    }

    @logo-spacing: (@line-height-computed / 5);

    .navbar-brand {
        font-weight: bold;
        padding-right: @logo-spacing;
        color: @brand-primary;
        text-decoration: none;

        &:hover, &:focus {
            color: @brand-primary;
            text-decoration: underline;
        }
    }

    .claim {
        color: @dark-grey;
        margin-left: @logo-spacing;
    }
}


/* Footer ************************************/

footer.navbar {
    margin-bottom: 0;

    small a {
        color: @navbar-inverse-link-color;

        &:hover,
        &:focus {
            color: @navbar-inverse-link-hover-color;
        }
    }
}


/* Page components ***************************/

#more {
    .anchor;
}

.page-header {
    text-align: center;
    margin-bottom: (@line-height-computed * 2) 0 (@line-height-computed * 4) 0;

    p {
       .lead;
    }
}

.page-info {
    .page-header;
    border: none;

    .pager a {
        .btn-lg;
        .btn-primary;
    }
}


/* Thumbnails ********************************/

.box {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(3);
    .make-lg-column(3);
}

.box-clearfix-4 {
    .clearfix;
    .visible-lg;
    .visible-md;
}

.box-clearfix-2 {
    .clearfix;
    .visible-sm;
}

.img-aspect-ratio-no-reflow (@width, @height) {
    // trick to get responsive image without reflow (see http://andmag.se/2012/10/responsive-images-how-to-prevent-reflow/)
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: (@height / @width * 100%);
    background: @light-grey;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: @light-grey;
    }
}

a.thumbnail {
    position: relative;
    text-decoration: none;

    img.lazy {
        display: none; // noscript fallback for lazyload jQuery plugin
    }

    img {
        max-width: 100%;
        height: auto;
        background: @light-grey;
        -ms-interpolation-mode: bicubic;
    }

    .caption {
        text-align: center;

        h3 {
            margin-top: (@line-height-computed / 2);
            margin-bottom: (@line-height-computed / 4);
        }
    }
}

.poster {
    .img-aspect-ratio-no-reflow(300, 424);
}

.cinema-photo {
    .img-aspect-ratio-no-reflow(300, 100);
}


/* Films *************************************/

.films {
    a.thumbnail {
        .caption {
            width: 98%; // so it does not hide the right border
            min-height: 25%;
            position: absolute; bottom: 0;
            background: #FFF; background: rgba(255, 255, 255, 0.85);

            h3 {
                font-weight: bold;

                small {
                    font-size: @font-size-large;
                    display: block;
                    color: @dark-grey;
                    margin-top: (@line-height-computed / 3);
                }
            }
        }
    }
}


/* Detail ************************************/

.detail {
    .make-row();
    margin: @line-height-computed 0 (@line-height-computed * 2) 0;

    .detail-content {
        .make-xs-column(12);
        .make-sm-column(8);

        .page-header, h2 {
            margin-top: 0;
            text-align: left;
        }

        ul.info {
            .list-group;

            li {
                .list-group-item;
                border-color: #FFF;
                vertical-align: middle;

                i {
                    margin-right: @line-height-computed;
                }

                span[title] {
                    padding-right: @line-height-computed;
                }
            }
        }

        .showtimes {
            border-top: 1px solid @light-grey;
            padding-top: (@line-height-computed * 2);
        }
    }

    .detail-aside {
        .hidden-xs;
        .make-sm-column(4);

        img {
            width: 100%;
        }
    }

    .map, .media {
        .detail-aside;
    }

    .media {

    }
}
