<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta property="og:type" content="website">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block description %}{{ self.claim()|uppercase_first }}{% endblock %}">
        <meta property="og:description" content="{{ self.description() }}">

        <meta property="og:site_name" content="{% block site_name %}Žít&nbsp;kino{% endblock %} &middot; {% block claim %}program brněnských&nbsp;kin{% endblock %}">
        {% if request.path == url_for('index') -%}
            <title>{{ self.site_name() }} &middot; {{ self.claim() }}</title>
        {%- else -%}
            <title>{{ self.title() }} &middot; {{ self.site_name() }}</title>
        {%- endif %}
        <meta property="og:title" content="{% block title %}{{ self.site_name() }}{% endblock %}">
        {% if self.image() %}<meta property="og:image" content="{% block image %}{% endblock %}">
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine&amp;subset=latin,latin-ext">
        {% assets filters=("less", "cssmin"), output="css/packed.css", "css/main.less" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body id="{{ request.endpoint }}">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <header class="container">
                <div class="navbar-header">
                    <h1><a class="navbar-brand" href="{{ url_for('index') }}">{{ self.site_name() }}</a></h1>
                    <p class="navbar-text claim hidden-xs">je&nbsp;{{ self.claim() }}</p>
                </div>
            </header>
        </nav>

        <div class="content container">
            {% block content %}{% endblock %}
        </div>

        <!--
        <footer>
            <ul class="footer">
                <li class="contact">
                    <a href="http://honzajavorek.cz">Kontakt</a>
                </li>
                <li class="button-container">
                    <div class="fb-like"
                        data-layout="button_count"
                        data-href="http://www.facebook.com/zitkino"
                        data-send="false"
                        data-width="150">
                    </div>
                </li>
                <li class="button-container">
                    <a href="https://twitter.com/zitkino" class="twitter-follow-button" data-show-count="false" data-lang="cs" data-show-screen-name="false">Sledovat @zitkino</a>
                </li>
                <li class="button-container">
                    <iframe src="http://ghbtns.com/github-btn.html?user=honzajavorek&amp;repo=zitkino.cz&amp;type=fork"
                    allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                </li>
            </ul>
        </footer>
        -->

        {% assets filters="rjsmin", output="js/packed.js", "js/jquery-1.10.1.min.js", "js/bootstrap.min.js", "js/main.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% if not debug %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ga_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = 'https://ssl.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div id="fb-root"></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>
