{% extends 'base.html' %}
{% block canonical_url %}{{ url_for('index', _external=True) }}{% endblock %}
{% block content %}

<div class="films">
    <div class="page-header">
        <h2>Co se hraje <strong>v Brně</strong> v kinech?</h2>
    </div>
    <div class="row">
        {% for film, showtimes in films.items() %}
            <div class="box-4 film">
                <a href="{{ url_for('film', film_slug=film.slug) }}" class="thumbnail">
                    <div class="poster">
                        <img class="lazy" data-original="{{ url_for('poster', film_slug=film.slug, size='300x424') }}">
                        <noscript><img src="{{ url_for('poster', film_slug=film.slug, size='300x424') }}"></noscript>
                    </div>
                    <div class="caption">
                        <h3>
                            {{ film.title_main }}
                            {% if film.year %}
                                <small><time datetime="{{ film.year }}">{{ film.year }}</time></small>
                            {% endif %}
                        </h3>
                    </div>
                </a>
            </div>
            {% if loop.index is divisibleby 4 %}<div class="box-4-clearfix"></div>{% endif %}
            {% if loop.index is divisibleby 2 %}<div class="box-4-clearfix-sm"></div>{% endif %}
        {% endfor %}
    </div>
</div>
<div class="cinemas">
    <div class="page-header">
        <h2>Kina v Brně</h2>
    </div>
    <div class="row">
        {% for cinema in cinemas %}
            <div class="box-6 cinema">
                <a href="{{ url_for('cinema', cinema_slug=cinema.slug) }}" class="thumbnail">
                    <div class="cinema-photo">
                        <img class="lazy" data-original="{{ url_for('cinema_photo', cinema_slug=cinema.slug, size='300x300') }}">
                        <noscript><img src="{{ url_for('cinema_photo', cinema_slug=cinema.slug, size='300x300') }}"></noscript>
                    </div>
                    <div class="caption">
                        <h3>
                            {{ cinema.name }}
                        </h3>
                    </div>
                </a>
            </div>
            {% if loop.index is divisibleby 6 %}<div class="box-6-clearfix"></div>{% endif %}
            {% if loop.index is divisibleby 4 %}<div class="box-6-clearfix-sm"></div>{% endif %}
        {% endfor %}
    </div>
</div>
<hr>
{% endblock %}
