{% extends 'base.html' %}
{% block content %}

<div class="cinemas">
    <div class="page-header">
        <h2>Omrzel tě Hollywood v multiplexech?</h2>
        <p>Vyber si z promítání, která mají duši.</p>
    </div>
    <div class="row">
        {% for cinema in cinemas %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{ url_for('cinema', cinema_slug=cinema.slug) }}" class="thumbnail">
                    <img src="{{ url_for('photo', cinema_slug=cinema.slug, resize='300x100') }}" class="photo">
                    <div class="caption">
                        <h3>
                            {{ cinema.name }}
                        </h3>
                    </div>
                </a>
            </div>
            {% if loop.index is divisibleby 4 %}<div class="clearfix visible-lg visible-md"></div>{% endif %}
            {% if loop.index is divisibleby 2 %}<div class="clearfix visible-sm"></div>{% endif %}
        {% endfor %}
    </div>
</div>

{% for starts_at_day, films in data.items() %}
    <div class="films"{% if more and loop.index == less_items %} id="more"{% endif %}>
        {% if loop.first %}
            <div class="page-header page-wide-text">
                {% if starts_at_day|date == 'Dnes' %}
                    <h2>Na co si dnes v Brně můžeš zajít do kina?</h2>
                {% else %}
                    {% if today_any_showtimes %}
                        <h2>Dnes už v Brně bohužel nic nestihneš, ale {{ starts_at_day|date|lower }} je taky den</h2>
                    {% else %}
                        <h2>V Brně se promítá až {{ starts_at_day|date|lower }}</h2>
                    {% endif %}
                {% endif %}
                <p class="lead">
                    {% if closest_showtimes_count == 1 %}
                        Čeká na tebe už jen jedno jediné promítání.
                    {% else %}
                        {% if closest_showtimes_count < 5 %}Čekají{% else %}Čeká{% endif %}
                        na tebe
                        {{ closest_showtimes_count }} promítání
                        {{ 'v'|vocalize(closest_cinemas_count) }}
                        {{ closest_cinemas_count }} kinech.
                    {% endif %}
                </p>
            </div>
        {% else %}
            <div class="page-header">
                <h2>{{ starts_at_day|date }}</h2>
            </div>
        {% endif %}
        <div class="row">
            {% for film, showtimes in films.items() %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{{ url_for('film', film_slug=film.slug) }}" class="thumbnail">
                        <img src="{{ url_for('poster', film_slug=film.slug, resize='300x424') }}" class="poster">
                        <div class="caption">
                            <h3>
                                {{ film.title_main }}
                                {% if film.year %}
                                    <small>{{ film.year }}</small>
                                {% endif %}
                            </h3>
                            <!--
                            {% if not film.rating is none %}
                                <p class="rating rating-{{ (film.rating / 25.0)|round|int }}" title="Hodnocení: {{ film.rating }}%">
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            {% endif %}
                            -->
                        </div>
                    </a>
                </div>
                {% if loop.index is divisibleby 4 %}<div class="clearfix visible-lg visible-md"></div>{% endif %}
                {% if loop.index is divisibleby 2 %}<div class="clearfix visible-sm"></div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
<hr>
{% if not more %}
<ul class="pager">
    <li><a href="{{ url_for('index', more=True) }}#more">Chci vidět i další dny</a></li>
</ul>
{% else %}
<div class="page-info">
    <p>
        Dál do budoucnosti vidí už jedině
        <a href="http://www.fffilm.name/2009/10/recenze-knezna-libuse-pagan-queen-0.html">kněžna Libuše</a>.
    </p>
</div>
{% endif %}
{% endblock %}
